//fonts
$fontTitle: Roboto, sans-serif;
$fontContent: Roboto, sans-serif;

//colors
$txt_gray: #545454;
$txt_darkgray: #333333;
$text_palegray: #B4AFAE;
$txt_lightgray: #CCCCCC;
$gray_common: #808080;
$gray_light: #E8E8E8;
$blue: #6da8cd;
$green: #6DCD9A;
$orange: #EE9F4B;
$red: #F5785F;
$conflict: #E92D3F;


//breakpoints
$break_lg: 1500px;
$break_md: 1500px;
$break_sm: 1300px;
$break_xs: 1200px;

$adaptive_xxl: 1400px;
$adaptive_xl: 1200px;
$adaptive_ld: 1100px;
$adaptive_ld: 1100px;
$adaptive_md: 1000px;
$adaptive_sm: 740px;
$adaptive_xs: 540px;

$field-switch-width: 120px;
$field-switch-height: 30px;
